@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

body {
    background-color: black;
}

.wrapper {
    width: 100%;
    height: auto;
    display: inline-grid;
    align-content: center;
    overflow: hidden;
    position: absolute;
    bottom: 35%;
}

.Sections {
    padding-top: 1vh;
    display: flex;
    align-content: center;
    text-align: center;
    width: 100vw;
    overflow: hidden;
}

.Section {
    width: 33vw;
    height: auto;
    background-color: #004b00;
    text-align: center;
    align-content: center;
    margin: 3px;
    overflow: hidden;
}

.Section-Name {
    color: lime;
    overflow: hidden;
    font-size: 2vh
}

.Section-Links a {
    display: grid;
    text-decoration: none;
    font-size: 2vh;
    margin: 5px;
    color: lime;
    overflow: hidden;
}

.section-links img {
    display: inline-block;
    height: 1.4vh;
    margin-top: 1vh;
    width: auto;
}

.Section-Links a:hover {
    background-color: #013901
}

.search {
    align-content: center;
    width: 100vw;
    padding: 5vh;
}

.searchbar {
    position: absolute;
    align-content: center;
    color: lime;
    right: 25vw;
    width: 50vw;
    height: 3vh;
    font-size: 2vh;
    background: #004b00;
    border: 0px;
    justify-content: center;
    padding: 0.5vw;
}

::placeholder {
    color: lime;
}

.Day {
    display: grid;
    color: lime;
    width: 100vw;
    height: 15vh;
    text-align: center;
    align-content: center;
    font-size: 2vh;
}
