@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: yellow;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100vw;
  text-align: center;
  margin-bottom: 0px;
}

.btn {
  height: 70px;
  width: 50px;
  margin: 1px 5px;
  background: lightcoral;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn:hover,
.btn:focus {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
